<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net46" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net46" />
  <package id="Fody" version="4.2.1" targetFramework="net46" developmentDependency="true" />
  <package id="itext7" version="7.1.5" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net46" />
</packages>